<!-- credit: mdbootstrap.com -->
<!-- link: https://mdbootstrap.com/docs/standard/extended/profiles/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Javascript  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>저기 어때</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Gowun Dodum", sans-serif;
      }
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );
      }
    </style>
    <script>
        $(document).ready(function () {});

        function register_user() {
          let first_name = $('#floatingFirstName').val();
          let last_name = $('#floatingLastName').val();
          let username = $('#floatingUsername').val();
          let email = $("#floatingInput").val();
          let pw = $("#floatingPassword").val();
          let loc = $("#floatingLocation").val();

          $.ajax({
            type: "POST",
            url: "/signup",
            data: { 
              first_name_give: first_name, last_name_give: last_name, username_give : username,
              email_give : email, pw_give: pw, location_give: loc 
            },
            success: function (response) {
              alert(response["msg"]);
              if (response["msg"] == "Sign up completed!") {
                window.location.replace("/");
              } else {
                window.location.reload();
              }
              
              // TODO: reloads the window and leads to main page
            },
          });
        }
        function check_duplicate() {
          let username = $('#floatingUsername').val();
          $.ajax({
            type: "POST",
            url: "/check_duplicate",
            data: { username_give : username},
            success: function (response) {
              if (response["msg"] == "Username Available!") {
                $('#signup-btn').empty();
                let temp_html = `<a class="btn btn-primary btn-lg" onclick="register_user()" disabled>Sign up</a>`
                $('#signup-btn').append(temp_html)
              }
  
              alert(response["msg"])
            }
          });
        }
    </script>
  </head>

  <body>
    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            
            <div class="card">
              <div class="card-body p-4 text-black">
                <div id="posts">
                    <h1 class="display-5 fw-bold">Signup Page</h1>
          <div class="m-4 m-lg-5">
            <div class="form-floating mb-3">
              <div class="row g-3">
                <div class="col-sm-6">
                  <input
                  type="email"
                  class="form-control"
                  id="floatingFirstName"
                  placeholder="First Name"
                />
                </div>
    
                <div class="col-sm-6">
                  <input
                  type="email"
                  class="form-control"
                  id="floatingLastName"
                  placeholder="Last Name"
                />
                  
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="floatingUsername"
                  placeholder="Username"
                />
              </div>
              <a class="btn btn-primary btn-lg" onclick="check_duplicate()"
                >Check Duplicate</a
              >
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="location"
                class="form-control"
                id="floatingLocation"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Location</label>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Password</label>
              <br />
              <div id="signup-btn">
              <button type="button" class="btn btn-lg btn-primary" disabled>Sign up</button>
              </div>
            </div>
          </div>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
