<!-- credit: mdbootstrap.com -->
<!-- link: https://mdbootstrap.com/docs/standard/extended/profiles/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Javascript  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>저기 어때</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Gowun Dodum", sans-serif;
      }
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );
      }
    </style>
    <script>
      $(document).ready(function () {
        load_page();
      });
      function logout() {
        $.removeCookie('mytoken');
        window.location.reload();
      }
      function load_page() {
        $.ajax({
          type: "GET",
          url: "/",
          data: {},
          success: function (response) {
            let post_list = response["list"];

            console.log(post_list);

            // let num = Math.min(10, post_list.length);
            let num = post_list.length;
            $("#posts").empty();

            for (let i = 0; i < num; i++) {
              // TODO: specific structure of the post
              if (i % 2 == 0) {
                let temp_html = `<div class="row g-2">
                            <div class="col">
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                                alt="image 1"
                                class="w-100 rounded-3"
                              />
                              <a class="post-title" href="/post"
                                >Post Title</a
                              >
                            </div>`;
                $("#posts").append(temp_html);
              } else {
                let temp_html = `<div class="col">
                            <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                              alt="image 1"
                              class="w-100 rounded-3"
                            />
                            <a class="post-title" href="/post"
                              >Post Title</a
                            >
                          </div>
                        </div>`;
                $("#posts").append(temp_html);
              }
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <form class="d-flex" role="search">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                      Search
                    </button>
                  </form>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="user-info">
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ user_info.username }}
                        <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/user/{{ user_info.username }}"
                            >My Profile</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" onclick="logout()"
                            >Log out</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class="card">
              <div class="card-body p-4 text-black">
                <div id="posts">
                  <div class="row g-2">
                    <div class="col">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                        alt="image 1"
                        class="w-100 rounded-3"
                      />
                      <a class="post-title" href="/post_name.html"
                        >Post Title</a
                      >
                    </div>
                    <div class="col">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                        alt="image 1"
                        class="w-100 rounded-3"
                      />
                      <a class="post-title" href="/post_name.html"
                        >Post Title</a
                      >
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                        alt="image 1"
                        class="w-100 rounded-3"
                      />
                      <a class="post-title" href="/post_name.html"
                        >Post Title</a
                      >
                    </div>
                    <div class="col">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                        alt="image 1"
                        class="w-100 rounded-3"
                      />
                      <a class="post-title" href="/post_name.html"
                        >Post Title</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
