<!-- credit: mdbootstrap.com -->
<!-- link: https://mdbootstrap.com/docs/standard/extended/profiles/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />

    <!-- Javascript  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>저기 어때</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Gowun Dodum", sans-serif;
      }
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          rgba(251, 194, 235, 1),
          rgba(166, 193, 238, 1)
        );
      }
    </style>
    <script>
      
      function num2str(count) {
        if (count > 10000) {
          return parseInt(count / 1000) + "k";
        }
        if (count > 500) {
          return parseInt(count / 100) / 10 + "k";
        }
        if (count == 0) {
          return "";
        }
        return count;
      }
      function toggle_like(post_id, type) {
        console.log(post_id, type);
        let $a_like = $(`#${post_id} a[aria-label='heart']`);
        let $i_like = $a_like.find("i");
        if ($i_like.hasClass("fa-heart")) {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "unlike",
            },
            success: function (response) {
              console.log("unlike");
              $i_like.addClass("fa-heart-o").removeClass("fa-heart");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        } else {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "like",
            },
            success: function (response) {
              console.log("like");
              $i_like.addClass("fa-heart").removeClass("fa-heart-o");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        }
      }

    </script>
    </head>

  <body>
    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <form class="d-flex" role="search">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                      Search
                    </button>
                  </form>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="user-info">
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ post_id.username }}
                        <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/user/{{ post_id.username }}"
                            >My Profile</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" onclick="logout()"
                            >Log out</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                
                </div>
              </div>
            </nav>
            <div class="card">
              <div class="card-body p-4 text-black">
                <!-- POST STARTS HERE -->
                <div id="posts">
                  
                  <div class="box">
                    <article class="media">
                      <div class="media-left"></div>
                      <div class="media-content">
                        <strong>Title</strong>
                        <br />
                        <small>Location</small>
                        <figure class="image is-256x256">
                          <img
                            src="../static/post_images/경복궁.jpg"
                            alt="Image"
                          />
                        </figure>
                        <div class="content">
                          <p>
                            <strong>John Smith</strong>
                            <small>@johnsmith</small> <small>31m</small>
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean efficitur sit amet massa fringilla
                            egestas. Nullam condimentum luctus turpis.
                          </p>
                        </div>
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a
                              class="level-item is-sparta"
                              aria-label="heart"
                              onclick="toggle_like('', 'heart')"
                            >
                              <span class="icon is-small"
                                ><i
                                  class="fa fa-heart"
                                  aria-hidden="true"
                                ></i></span
                              >&nbsp;<span class="like-num">2.7k</span>
                            </a>
                            <a class="level-item" aria-label="reply">
                              <span class="icon is-small">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                              </span>&nbsp;<span class="like-num">2.7k</span>
                            </a>
                            
                          </div>
                        </nav>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
